._2TFfrFGmgyTLwy_HcxwM_f {
  margin: 32px 0;
  display: flex;
  align-items: bottom;
}

._2svn8dtrszsDWEo-jOMlZM {
  border: none;
  border-bottom: 1px solid #a0a0a0;
  margin: 0 5px;
  outline: none;
}

.GQRQEwCse3Ao9e2raUqk9 {
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #a0a0a0;
}

.WR1MTC_6ElZRf4h4E-_mt {
  width: 800px;
}

._2b5mG4FCTsy6BV2HanV9my {
  background-color: #f0f0f0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: padding 0.1s linear;
}

._2b5mG4FCTsy6BV2HanV9my:hover {
  padding: 20px 15px;
}

._2b5mG4FCTsy6BV2HanV9my:nth-child(2n) {
  background-color: #fafafafa;
}

._1UkSFQGNoYMl6nUc7d0k7U {
  display: none;
  border: 1px solid #a00000;
  background-color: transparent;
  border-radius: 4px;
  color: #a00000;
  width: 30px;
  height: 30px;
}

._2b5mG4FCTsy6BV2HanV9my:hover ._1UkSFQGNoYMl6nUc7d0k7U {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

._3cj18YI9a6Zq4JTz6xRmaQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

